@model Dictionary<string, List<ConfigurationModel>>

<!DOCTYPE html>
<html>
<head>
    <style>
        ul {
            list-style-type: none;
        }

        li {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <ul>
        @foreach (var topLevelNode in Model)
        {
            <li>
                "@topLevelNode.Key": 
                @if (topLevelNode.Value.Any())
                {
                    @Html.Raw(RenderTree(topLevelNode.Value))
                }
                else
                {
                    @topLevelNode.Value.FirstOrDefault()?.Value
                }
            </li>
        }
    </ul>

    @functions
    {
        // Recursive function to render the tree
        string RenderTree(List<ConfigurationModel> nodes)
        {
            var result = new System.Text.StringBuilder();
            result.Append("{");
            foreach (var node in nodes)
            {
                result.Append($"\"{node.KeyName}\": \"{node.Value}\"");
                if (node != nodes.Last())
                {
                    result.Append(",");
                }
            }
            result.Append("}");
            return result.ToString();
        }
    }
</body>
</html>
